@model IEnumerable<AlToyBarnContactApp.Models.Cliente>
@{
    ViewData["Title"] = "Clientes";
}

<h1>Cliente</h1>

<p>
    <a asp-action="Criar">Novo Cliente</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Endereco)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Endereco)</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Detalhar" asp-route-id="@item.Id">Detalhar</a> |
                    <a asp-action="Remover" asp-route-id="@item.Id">Remover</a> |
                    @if (item.Contatos.Count() > 0) {
                        <a asp-controller="Contato" asp-action="Index" asp-route-id="@item.Id">Contatos</a>
                    } else {
                        <a asp-controller="Contato" asp-action="Criar" asp-route-id="@item.Id">Novo Contato</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>